
<p>Ask your coach anything</p>

<form action="/answer" class="form-inline" >
  <input class="form-control mb-2 mr-sm-2" type="text" name="question">
  <button type="submit" class="btn btn-primary mb-2">Ask!</button>

</form>
